{% extends "layout.html" %} {% block title %} Products {% endblock %} {% block
main %}
<div class="row justify-content-md-center">
    <img src="https://media.istockphoto.com/vectors/checkmark-icon-check-mark-vector-isolated-illustration-vector-id1205148147?k=20&m=1205148147&s=170667a&w=0&h=VXM7i4oEo4s2ktMTKr34M3MpuOkkJT9EzzBeStP5NoM="
        alt="Check" width="500" height="500">
    <h3 class="text-center">Payment succesful!</h3>
    <form class="text-center" action="/">
        <button class="btn btn-primary text-center" type="submit">
            Go back to main page
        </button>
    </form>
</div>
{% endblock %}